.parent {
	background-color: #146eb4;
	height: 100vh;
}

.form-signin {
	width: 100%;
	width: 448px;
	padding: 48px;
	margin: auto;
	border-radius: 8px;
	background-color: white;
}

.mobile-input {
	font-size: 18px;
	padding: 11px 16px !important;
}

.login-btn {
	font-size: 18px;
	font-weight: 500;
	padding: 12px 16px;
	width: 100%;
}
